.singIn {
  font-style: bold;
  font-size: 20px;
}

.layout {
  display: flex;
  justify-self: start;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-top: 50px;
  align-items: center;
}

.imageSizing {
  height: 50px;
  width: 50px;
}
